@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/bootstrap";

.sect_stack {
    margin: 4rem 0;
    h4 {
        margin-left: 4rem;
        color: $green-800;
    }
}
.sect_stack_container {
    position: relative;
    .stack_row {
        margin: 1rem 0;
        padding: 1rem 0;
        gap: 4rem;
        div {
            margin: 0;
            padding: 0;
            width: 200px;
            height: 160px;
            border: 0.5px solid rgba(0, 0, 0, 0.4);
            background-color: $green-900;
        }
        img {
            width: 100px;
            background: transparent;
        }
    }
    .more_stacks {
        color: $orange-400;
        font-weight: 700;
    }
}

@media (max-width: 767.9px) {
    .sect_stack {
        margin-top: 12rem;
        h4 {
            margin-left: 1rem;
        }
    }
    .sect_stack_container {
        align-items: center;
        justify-content: center;
        padding-left: 2rem;
        .stack_row {
            flex-direction: column;
            gap: 2rem;
            div {
                width: 150px;
                height: 120px;
            }
            img {
                width: 75px;
            }
        }
    }
}